extends layout

block content
  div#infoBox
    canvas#miniMap
    table
      tr
        td camera:
        td
          #camPos
      tr
        td mouse:
        td
          #mousePos
      tr
        td zoom:
        td
          #zoom
      tr
        td terrain:
        td
          #tileTerrain
      tr
        td feature:
        td
          #tileFeature
      tr
        td seed:
        td
          input#mapSeed(type="text")
    button#genButton generate
    button#genSeedButton gen with seed
    hr
    table
      tr
        td WSAD/Arrows:
        td pan map
      tr
        td Enter:
        td generate with new seed
      tr
        td Z/X:
        td zoom
