extends layout

block content
  div#infoBox
    canvas#miniMap
    table
      tr
        td camera:
        td
          #camPos
      tr
        td mouse:
        td
          #mousePos
      tr
        td terrain:
        td
          #tileTerrain
      tr
        td feature:
        td
          #tileFeature
