html,
body {
    padding: 0;
    margin: 0;
    background: #012;
    color: #fff;
    overflow: hidden;
}

canvas#drawSurface {}

img.sprite-sheet {
    display: none;
}

p#info {
    position: fixed;
    background: #000;
    color: #fff;
    top: 0;
    right: 0;
    padding: 50px;
}