html,
body {
    padding: 0;
    margin: 0;
    background: #012;
    color: #fff;
    overflow: hidden;
}

canvas#drawSurface {}

img.sprite-sheet {
    display: none;
}

div#infoBox {
    position: fixed;
    background: #000;
    color: #fff;
    top: 0;
    right: 0;
    padding: 10px;
    width: 100px;
    height: 80px;
}